body
  overflow: hidden

html
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif

.main-login
  height: 100vh
  width: 100%
  overflow: hidden

.main-login-banner
  height: 100vh
  padding-top:  5%
  color:  rgb(255,255,255)
  z-index:  1
  position: relative

.main-login-backdrop
  float:  left
  position: absolute
  width:  100%
  height: 100%
  top:  0
  background: rgba(0,0,0,0.8)
  z-index:  1

.main-login-banner-text
  float:  left
  position: absolute
  width:  100%
  height: 100%
  top:  25vh
  z-index:  2


.green
  color: #23f98b


.sub-login-banner
  padding-top:  7%
  position: relative
  height: 100%
  overflow: hidden
  overflow-y: auto

.go-to-app-btn
  border-radius: 50px
