
.docker{
	float:left;
	position:relative;
	min-width: 280px;
	z-index: 1024;
	transition:opacity 0.3s ease-in-out;
	
}

.docker > .content{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	color: rgb(60,60,60);
	margin-top:80px;

}
.docker-menu{
	cursor: pointer;
}

/*default position*/
.docker.absolute{
	position: absolute;
}
.docker.fixed{
	position: fixed;
	top:0;
}

.docker.pull-right{
	float:right;
}


/*default toggle*/
.docker-toggle-open{
	display: block !important;
	margin-left: 0;
	-webkit-transition:margin-left 0.3s ease-in-out;
}

.docker-toggle-close{
	margin-left: -100%;
	-webkit-transition:margin-left 0.3s ease-in-out;
}


.pull-right.docker-toggle-open{
	display: block;
	margin-right: 0;
	-webkit-transition:margin-right 0.3s ease-in-out;
}

.pull-right.docker-toggle-close{
	margin-right: -100%;
	-webkit-transition:margin-right 0.3s ease-in-out;
	width:0;
	overflow: hidden;


}

/*docker toggle content*/
.docker-menu-toggle-content{
	cursor: pointer;
}
.show{
	opacity:1;
	display: block !important;
}
.hide{
	opacity:0;
	display: none !important;
}




/*SOURCE: https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries;*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
 	.docker-xs{
		width:100%;
	}

	.docker-xs-absolute{
		position: absolute;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.docker-xs{
		width:100%;
	}

	.docker-xs-absolute{
		position: absolute;
	}  

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.docker-sm{
		width:300px;
	}

	.docker-sm-absolute{
		position: absolute;
	}

	.docker-sm-full{
		width: 100%;
	}

	.docker-sm-hidden.docker-toggle-open{
		display: block;
	}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.docker > .content{
		height: 1500px;
	}

	.docker-md-fixed{
		position: fixed;

	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.docker-lg-visible.docker-toggle-close{
		margin-left: 0%;
	}

	.docker-lg-block{
		position: relative;
		display: block;

	}

	.docker-lg-fixed{
		position: fixed;

	}
}



   /*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.docker-lg-visible{
		display: block;
	}
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.docker-md-hidden{
		display: none;
	}

	.docker-md-fixed{
		position: fixed;

	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.docker-sm-fixed{
		position: fixed;

	}

	.docker-sm-fixed .content.overlay{
		top:0;
		padding-top:50px;
	}

	.docker-sm-hidden{
		display: none;
	}
	.docker-sm-hidden.docker-toggle-open{
		display: block;
	}


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	/*full screen for xs device*/
	.docker-toggle-open{
		width: 100%;
	}

	.docker-xs-fixed{
		position: fixed;
		top:0;
	}

	.docker-xs-hidden{
		display:none;
	}
	.docker-xs-hidden.docker-toggle-open{
		display: block;
	}


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.docker-xs{
		width: 100%;
	}
    .docker-xs-fixed{
		position: fixed;
	}

	/*double the margin for xs devices*/
	.docker-toggle-close{
		margin-left: -150%;
	}


}
