body{
  overflow-y: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}
a,a:focus,a:hover{
  color: #009688;
}
input:not([data-role="none"]),textarea:not([data-role="none"]),select:not([data-role="none"]){
  border:none !important;
  border-bottom:2px solid rgba(180,180,180,0.4) !important;
  transition: border 0.2s ease-in-out;
  border-radius: 0px !important;
  background: none !important;
}

input:focus:not([data-role="none"]),textarea:focus:not([data-role="none"]),select:focus:not([data-role="none"]){
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #009688 !important;
}

input.error, input.error:focus, select.error, select.error:focus{
   border-bottom:2px solid orangered !important;
}

summary{
  outline:none;
}

.navbar-top{
    background: rgb(60,60,60) !important;
    margin-bottom: 0;
}
/*main menu*/
.main-menu{
    margin-top: 70px;
}

.main-menu li{
    padding: 10px 5px 10px 5px;
    text-align: center;
    margin-bottom: 2px;
    cursor:pointer;
    font-size: 12px;
}
.main-menu li.active{
  background: rgb(255,184,12);
}

.main-menu li.deactivated{
    opacity: 0.5;
}
.main-menu-list{
    color: rgb(240,240,240);
}


.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}


/*material icon font*/
@font-face {
  /*font-family: 'Material Icons';*/
  font-style: normal;
  font-weight: 400;
 /* src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');*/
}
/*hide material icons by default*/
.material-icons:before{
 content: " "
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.hide{
  display: none !important;
}

.show{
  display: block !important;
}

.dropdown-section{
  position: absolute;
  width: 150px;
  height: 200px;
  background: #fff;
  z-index: 3;
  right:0px;
  display: none;
  visibility:hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 0 7px rgba(0,0,0,.4)
}

.dropdown-section.open{
  transition: opacity 0.3s ease-in-out; 
  visibility: visible;
  display: block;
  opacity: 1;
}

